!DOCTYPE html


body{
    background-image:"https://nadineperisic.github.io/EIA1-SoSe20/Aufgabe003/bg.png.textClipping"
    background-color:none
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    opacity: 5;
    }
