head{
    background: url(bg.png);
}
a{
    color: white;
}
body{
    background: url(bg.png);
}
.flex{
    display: inline-block;
    justify-content:center;
    align-items
}
header nav{
    font-family: sans-serif;
    background-color: black;
    text-decoration: none;
    border:none;
    position: fixed;
    margin-left: 985px;
    box-sizing: border-box;
    border-style: groove;
    border-radius: 50px;
    top: 8px;
    z-index: 50;
}
a.currentLink{
    color: orange;
    font-weight: bolder;
}
ul{
    margin: 0px;
    padding: 0px;
}
ul li{
    display: inline;
    margin: 0px;
    padding: 0 10 0 10;;
}
h1{
    font-family:sans-serif ;
    color:black
    text-align center;
    font-size: 200%
}
h2{ 
    font-family:sans-serif ;
    color:black
    text-align center;
}
p{  
    background-origin: padding-box;
    font-family: sans-serif;
    font-size: 50%
    font-color black

}
.articel01{
    margin: auto;
    text-align: center;
    color: black;
    font-size: large;
    font-family:sans-serif ;
}
.articel02{
    width: auto;
    height: auto;
    padding: 20px
}
a:hover{
    color: orange;
}
#icon1{
    color: black;
    position: absolute;
    top: 260px;
    left: 500px;   
    cursor: auto;
    opacity: 5;
}
img.zoom:hover{
    cursor: zoom-in;
    transform: scale(2.0,2.0)
}
.formular{
    color: white;
    background: orange;
    font-size: 10pt;
    width: 300px;
    padding: 5px, 5px, 5px, 5px;
    margin-left: 500px;
    text-align: center;
}
.Nachricht{
    color:black;
    background:orange;
    font-size: 10pt;
    width: 200px;
    padding: 20px, 80px, 5px, 5px;
    margin-left: 200px;
    text-align: center;    
}
.absenden{
    color:black;
    background:orange;
    font-size: 10pt;
    width: 200px;
    margin-left: 200px;
    padding: 20px, 80px, 5px, 5px;;
    width: 200px;